.container {
  width: 100%;
}

.green-background {
  background: #2ecc71;
}

.blue-background {
  background: #3498db;
}

.orange-background {
  background: #e67e22;
}

.red-background {
  background: #e74c3c;
}
